<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="galleryBody">
    <h1 style="text-align:center">Gallery Overview</h1>
    <div style="text-align:right">
      <%= link_to 'New Artwork', new_exhibit_path, class:"galleryButton"%>
    </div>
    <div style="text-align:center">
      <%= link_to 'Go to the personal Gallery', gallery_start_path, class:"galleryButton"%>
    </div>
    <br><br><br>
    <table width="600" align="center">
      <% @exhibits.each do |exhibit| %>
      <%# add_to_personal_gallery %>

        <tr>
          <td colspan="3" height="100"><%= link_to 'Add to personal gallery', exhibit_addgallery_path(exhibit), class:"galleryButton" %></td>
        </tr>


        <tr>

          <td colspan="2"><%= link_to image_tag(exhibit.img_url, class: "galleryImage"), exhibit_path(exhibit) %></td>
          <td align="right"><%= link_to 'Delete', exhibit_path(exhibit), method: :delete, data: {confirm: "Are you sure you want to delete this exhibit from the Database?"}, class:"deleteButton" %></td>

        </tr>

        <tr>
          <td><%= exhibit.artwork_name %></td>
          <td><%= exhibit.artist_name %></td>
          <td align="right"><%= link_to 'Edit', edit_exhibit_path(exhibit), class:"galleryButton" %></td>
        </tr>
        <tr>
          <td colspan="2"><%= exhibit.information %></td>
        </tr>
        <tr>
          <td>_________</td>
        </tr>

        <tr>
          <td>_________</td>
        </tr>
      <% end %>
    </table>

  </body>
</html>
