<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="galleryBody">
    <% if @exhibit.errors.any? %>
    <h2>The following errors prevented the exhibit from getting added:</h2>
      <ul>
        <% @exhibit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <ul>
      <%= form_for @exhibit do |f| %>
        <p>
          <%= f.label :img_url %><br>
          <%= f.text_field :img_url %>
        </p>
        <p>
          <%= f.label :artwork_name %><br>
          <%= f.text_field :artwork_name %><br>
        </p>
        <p>
          <%= f.label :artist_name %><br>
          <%= f.text_field :artist_name %><br>
        </p>
        <p>
          <%= f.label :information %><br>
          <%= f.text_area :information %><br>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>

      <%= link_to "Back to gallery", exhibits_path %>

    </ul>
  </body>
</html>
