<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="galleryBody">
    <div class="homeButton">
      <h1>Start</h1>
    </div>

    <div style="text-align:center">
      <%= link_to 'View a finished Gallery', exhibits_path, class:"galleryButton"%>

    </div>

    <table width="600" align="center">
      <% @selections = Selection.all %>
      <% @selections.each do |selection| %>
      <% @exhibit = Exhibit.find(selection.exhibitID) %>

        <tr>

        </tr>


        <tr>

          <td colspan="2"><%= link_to image_tag(@exhibit.img_url, class: "galleryImage"), exhibit_path(@exhibit) %></td>
          <td align="right"><%= link_to 'Remove', selection_path(selection.id), method: :delete, data: {confirm: "Are you sure you want to remove this exhibit from your gallery?"}, class:"deleteButton" %></td>

        </tr>

        <tr>
          <td><%= @exhibit.artwork_name %></td>
          <td><%= @exhibit.artist_name %></td>
        </tr>
        <tr>
          <td colspan="2"><%= @exhibit.information %></td>
        </tr>
        <tr>
          <td>_________</td>
        </tr>

        <tr>
          <td>_________</td>
        </tr>
      <% end %>
    </table>



  </body>
</html>
